
@import url('https://fonts.googleapis.com/css2?family=Kreon&display=swap');
 

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-color: #AFE5;
}

html {
    font-family: 'Kreon', serif;
    font-size: 62.5%;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 15px;
}

.calculator {
    display: flex;
    flex-direction: column;
    width: 500px;
    font-size: 4rem;
    border: 20px solid #044a
}

.calculator-display {
    padding: 25px 15px;
    width: 100%;
    text-align: right;
    border: 20px solid #066f;
    overflow-x: auto;
}

.calculator-keypad {
    display: flex;
    width: 100%;
}

.keypad-numbers {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.keypad-button {
    width: 25%;
    padding: 20px 0;
    text-align: center;
    cursor: pointer;
    background-color: #ae33;
    border: 1px solid #332f;
}

.keypad-button:hover {
    filter: brightness(30%);
    transition: filter .25s;
}

.keypad-button.blue {
    background-color: #4bb;
}

.keypad-button.large {
    width: 50%;
    background-color: #1b55;
}

.keypad-button.dark {
    width: 50%;
    background-color: #a55f;
}